<h2>My Samples</h2>

<ul class="samples">
  <li *ngFor="let sample of samples">
    <a routerLink="/detail/{{sample.id}}">
      <span class="badge">{{sample.id}}</span> {{sample.name}}
    </a>
    <button class="delete" title="delete sample"
      (click)="delete(sample)">x</button>
  </li>
</ul>

<div>
  <label>Sample name:
    <input #sampleName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(sampleName.value); sampleName.value=''">
    add
  </button>
</div>