{% load bootstrap4 %}
{% load staticfiles %}

<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

{% block content %}



  <h2>Add Sample</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    

    {{ form.SampleAddForm }}
    <p>
<div class="fieldWrapper">
    {{ form.Name.errors }}
    <label for="{{ form.Name.id_for_label }}">Name:</label>
    {{ form.Name }}
</div>
</p>
<p>
<div class="fieldWrapper">
    {{ form.Date.errors }}
    <label for="{{ form.Date.id_for_label }}">Date:</label>
    {{ form.Date }}
</div>
</p>
<p>
<div class="fieldWrapper">
    {{ form.Location.errors }}
    <label for="{{ form.Location.id_for_label }}">Location:</label>
    {{ form.Location }}
</div>
</p>
<p>
<div class="fieldWrapper">
    {{ form.Description.errors }}
    <label for="{{ form.Description.id_for_label }}">Description:</label>
    {{ form.Description }}
</div>
</p>


    <button type="submit">Add Sample</button>
    <button type="submit" class="btn btn-primary">Add Sample</button>
  </form>
{% endblock %}