<!-- templates/signup.html -->
{% load static %}
{% load bootstrap4 %}
{% load staticfiles %}

<head>
<title>Test Tube Tracker</title>
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

{% block content %}

<!--
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
-->

<!--<div class="px-4"> -->
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-black">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Sign Up</h1>
                    <div class="info-form">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            
                    </div>
                    <br>
                    <div class="pb-4">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--</div>-->



{% endblock %}